---
---
@charset "utf-8";

// Castom var
$link-color: #ff0800 !default;
$primary-color: #844fd9 !default;
$max-width: 1600px;   // по умолчанию 1280px, увеличьте до 1600 или 1800

// Main thems
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// Castom css
.stars {color: #844fd9;}



//#region ссылки
.page__content a {
  color: $primary-color;               // наследует белый цвет от родительского текста
  text-decoration: underline;   // подчёркивание

  &:hover {
    color: $link-color;      // красный (#CB2821)
    text-decoration: underline; // можно оставить или убрать
  }
}

.toc__menu a {
  color: inherit;            // наследуют цвет текста (белый)
  font-weight: normal;
  text-decoration: none;
  
  &:hover {
    opacity: 1;
    color: $link-color;
    text-decoration: none;// добавить подчёркивание при наведении
  }
}
//#endregion

//#region 3Д карточки
%card {
  background: #1d2029;
  border-radius: 20px;
  padding: 1.2rem 1.5rem;
  position: relative;
  transition: all 0.2s ease;
  box-shadow: 
    0 8px 15px rgba(0, 0, 0, 0.3),
    inset 0 5px 5px rgba(196, 67, 214, 0.25);
  &:hover {
    transform: translateY(-4px);
  box-shadow: 
    0 15px 25px rgba(0, 0, 0, 0.5),
    inset 0 8px 6px rgba(196, 67, 214, 0.25);
  }
}

//одноколоночные карточки
.one-column-list {
  > div {
    @extend %card;}
  //display: flex;
  // gap: 2rem;
  //flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

//дву-колоночные карточки
.two-column-list {
  > div {
    @extend %card;
    flex: 1;
    min-width: 250px;
  }
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}


// Галерея карточек для изображений (отдельный класс)
.gallery-card-list {
  text-align: center;
  > div {
    @extend %card;
    margin-bottom: 1rem;
    //text-align: center;

    p {
        margin-bottom: 0;
      }

    .image-group {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(140px, auto));
      gap: 1rem;
      justify-content: center;   // центрирует сетку, если колонки не занимают всю ширину
      align-items: start;
      margin-bottom: 1rem;
      
      img {
        width: 100%;
        height: auto;
        max-height: 300px;
        border-radius: 8px;
        object-fit: contain;
      }
    }
    // остальное без изменений
  }
}
//#endregion